<footer class = "py-5" id ="footer">
  <div class = "container footer-container row text-white mx-auto">
    <div class = "col-12 col-md-6" id = "footer-contact-col">
      <h5 class = "mb-3 text-muted">CONTACT INFORMATION</h5>
      <h6 class = "fw-light mb-3"><i class="fa-solid fa-location-arrow me-2"></i>SRI PETALING</h6>
      <h6 class = "fw-light mb-3"><i class="fa-solid fa-phone me-2"></i>012-367 2831</h6>
      <h6 class = "fw-light mb-3"><i class="fa-solid fa-clock me-2 "></i>10AM-10PM</h6>
    </div>

    <div class = "col-12 col-md-6"> 
      <h5 class = "mb-3 text-muted">SUBSCRIBE TO OUR NEWSLETTER</h5>
    <form action="" class = "mb-3">
      <input type="email" class = "form-control" name="newsletter" placeholder="Email" id="newsletter">
    </form>
      <small>Subscribe to our Newsletter. You will get news about giveaways and new blog posts.</small>
    </div>
  </div>
</footer>

